$darkBlue: #202b59;
$lightBlue: #394783;
$lightBlueGrey: #5d689a;
$lightGrey: #fdfdfe;

$textBlue: #6772a0;
$textGrey: #5e5e5e;
$textGreyLight: #bdbdbd;

$textPlaceHolder: #d7d9e5;

$borderColor: #dee1ea;

$boxShadow: #f5f5f6;